@{
    Layout = "_Layout_Home";
}
@model MrGutter.Models.ViewModels.UsersVM

<section id="forgot-password" class="auth-height">
    <div class="row full-height-vh m-0 d-flex align-items-center justify-content-center">
        <div class="col-md-10 col-12">
            <div class="card overflow-hidden radius-12">
                <div class="card-content">
                    <div class="card-body auth-img">
                        <div class="row m-0">
                            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                                <img src="~/image/gutter-logo-1-removebg-preview.png" style="height:200px; width:285px" class="dnfinsImgHomeLoanAc" alt="dnfins.com" /><br />
                            </div>
                            <div class="col-lg-6 col-md-12 px-4 py-5">
                                <div class="d-flex justify-content-center">
                                    <div class="">
                                        <img src="~/app-assets/img/gallery/forgot1.png" alt="" style="width:200px;" class="img-fluid" />
                                    </div>
                                </div>
                                <div class="text-center py-2">
                                    <h4 class="text-center">Change Password</h4>
                                </div>

                                <form asp-action="ChangePassword" asp-controller="Account" method="post">
                                    <input type="text" asp-for="EmailID" class="form-control" id="mobileOrEmail" placeholder="Required" hidden>
                                    <div class="form-group">
                                        <label for="mobileOrEmail">Password<span style="color:red" class="required">*</span></label>
                                        <input type="password" asp-for="Password" class="form-control" id="mobileOrEmail" placeholder="Required">
                                     
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-group" id="passwordField">
                                        <label for="password">Confirm Password<span style="color:red" class="required">*</span></label>
                                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="password" placeholder="Password">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex flex-sm-row flex-column justify-content-end">
                                        <button type="submit" class="btn cstm-button ml-sm-1" style=" background-color:#2B7FCC; color:white">Submit</button>
                                    </div>
                                </form>

                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.Message
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var isSuccess = '@TempData["Success"]' === 'True';
        var isError = '@TempData["Error"]' === 'True';

        if (isSuccess) {
            Swal.fire({
                icon: 'success',
                title: 'Password Reset Email Sent',
                text: '@TempData["SuccessMessage"]',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Login", "Account")'; // Redirect to login page or home page
                }
            });
        }

        if (isError) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '@TempData["ErrorMessage"]',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Index", "Home")'; // Redirect to login page or home page
                }
            });
        }
    });
</script>
