@model MrGutter.Models.ViewModels.EstimateVM
@{
    Layout = "_Layout_Main";

}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Form with Tabs -->
    <div class="row">
        <div class="col">
            <div class="card mb-6">
                <div class="card-header px-0 pt-0">
                    <div class="nav-align-top">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <button type="button"
                                        class="nav-link active"
                                        data-bs-toggle="tab"
                                        data-bs-target="#form-tabs-personal"
                                        aria-controls="form-tabs-personal"
                                        role="tab"
                                        aria-selected="true">
                                    <span class="ti ti-user ti-lg d-sm-none"></span><span class="d-none d-sm-block">Estimate details</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button"
                                        class="nav-link"
                                        data-bs-toggle="tab"
                                        data-bs-target="#form-tabs-account"
                                        aria-controls="form-tabs-account"
                                        role="tab"
                                        aria-selected="false">
                                    <span class="ti ti-user-cog ti-lg d-sm-none"></span><span class="d-none d-sm-block">Customer details</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button"
                                        class="nav-link"
                                        data-bs-toggle="tab"
                                        data-bs-target="#form-Property-Measurement"
                                        aria-controls="form-Property-Measurement"
                                        role="tab"
                                        aria-selected="false">
                                    <span class="ti ti-link ti-lg d-sm-none"></span><span class="d-none d-sm-block">Property measurements</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body">
                    <div class="tab-content p-0">

                        <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">
                            <form asp-action="UpdateEstimate" asp-controller="Estimates">
                                <input type="number"
                                       id="formtabs-Estimate-no"
                                       class="form-control"
                                       placeholder="0" asp-for="EstimateList[0].EstimateID" hidden />
                                <input type="number"
                                       id="formtabs-Estimate-no"
                                       class="form-control"
                                       placeholder="0" asp-for="EstimateList[0].CompanyID" hidden />
                                <input type="number"
                                       id="formtabs-Estimate-no"
                                       class="form-control"
                                       placeholder="0" asp-for="EstimateList[0].UserID" hidden />
                                <input type="text"
                                       id="formtabs-firstname"
                                       class="form-control"
                                       asp-for="EstimateList[0].FirstName" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].LastName" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].CompanyName" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].PhoneNumber" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].Email" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].Addressline1" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].Addressline2" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].City" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].State" hidden />
                                <input type="text"
                                       id="formtabs-lastname"
                                       class="form-control"
                                       asp-for="EstimateList[0].ZipCode" hidden />
                                <div class="row g-6">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-Estimate-no">Estimate No</label>
                                            <div class="col-sm-9">
                                                <input type="number"
                                                       id="formtabs-Estimate-no"
                                                       class="form-control"
                                                       placeholder="0" asp-for="EstimateList[0].EstimateNo" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">Sales person</label>
                                            <div class="col-sm-9">
                                                <select id="userRole" class="form-select text-capitalize ms-2" asp-for="UserID">
                                                    @foreach (var user in Model.EstimatorUsers)
                                                    {
                                                        if (user.UserID.ToString() == Model.EstimateList[0].UserID.ToString())
                                                        {
                                                            <option value="@user.UserID" selected>@user.FirstName @user.LastName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@user.UserID">@user.FirstName @user.LastName</option>
                                                        }
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="Created-date">Created date</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       class="form-control formtabs-date"
                                                       asp-for="EstimateList[0].EstimateCreatedDate" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-Estimate-name">Estimate revenue</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].EstimateRevenue" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-next-call">Next callback</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       class="form-control formtabs-date"
                                                       asp-for="EstimateList[0].NextCallDate" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-6">
                                    <div class="col-md-6">
                                        <div class="row justify-content-end">
                                            <div class="col-sm-9">
                                                <button type="submit" class="btn btn-primary me-4">Submit</button>
                                                <a asp-area="" asp-controller="Estimates" asp-route-id=" @Model.EstimateID" asp-action="EstimationDetails" class="btn btn-label-secondary">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Customer Details -->
                        <div class="tab-pane fade" id="form-tabs-account" role="tabpanel">
                            <form asp-action="UpdateEstimate" asp-controller="Estimates">
                                <input type="number"
                                       id="formtabs-Estimate-no"
                                       class="form-control"
                                       placeholder="0" asp-for="EstimateList[0].EstimateID" hidden />
                                <input type="number"
                                       id="formtabs-Estimate-no"
                                       class="form-control"
                                       placeholder="0" asp-for="EstimateList[0].CompanyID" hidden />
                                <input type="number"
                                       id="formtabs-Estimate-no"
                                       class="form-control"
                                       placeholder="0" asp-for="EstimateList[0].UserID" hidden />
                                <input type="number"
                                       id="formtabs-Estimate-no"
                                       class="form-control"
                                       placeholder="0" asp-for="EstimateList[0].EstimateNo" hidden />
                                <select id="userRole" class="form-select text-capitalize ms-2" hidden>
                                    @foreach (var user in Model.EstimatorUsers)
                                    {
                                        if (user.UserID.ToString() == Model.EstimateList[0].UserID.ToString())
                                        {
                                            <option value="@user.UserID" selected>@user.FirstName @user.LastName</option>
                                        }
                                        else
                                        {
                                            <option value="@user.UserID">@user.FirstName @user.LastName</option>
                                        }
                                    }
                                    <input type="text"
                                           class="form-control formtabs-date"
                                           asp-for="EstimateList[0].EstimateCreatedDate" hidden />
                                    <input type="text"
                                           class="form-control"
                                           asp-for="EstimateList[0].EstimateRevenue" hidden />

                                    <input type="text"
                                           class="form-control"
                                           asp-for="EstimateList[0].NextCallDate" hidden />
                                    <input type="text"
                                           class="form-control formtabs-date"
                                           asp-for="EstimateList[0].EstimateCreatedDate" hidden />
                                </select>
                                <div class="row g-6">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-firstname">First name</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-firstname"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].FirstName" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-lastname">Last name</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-lastname"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].LastName" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-company-name">Company name</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-company-name"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].CompanyName" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-phone">Phone number</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-phone"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].PhoneNumber" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-email">Email</label>
                                            <div class="col-sm-9">
                                                <div class="input-group input-group-merge">
                                                    <input type="text"
                                                           id="formtabs-phone"
                                                           class="form-control"
                                                           asp-for="EstimateList[0].Email" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-add1">Address line 1</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-add1"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].Addressline1" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-add2">Address line 2</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-add2"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].Addressline2" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-city">City</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-city"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].City" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-state">State/Province</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-state"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].State" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-zip">Zip code</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       id="formtabs-zip"
                                                       class="form-control"
                                                       asp-for="EstimateList[0].ZipCode" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-6">
                                    <div class="col-md-6">
                                        <div class="row justify-content-end">
                                            <div class="col-sm-9">
                                                <button type="submit" class="btn btn-primary me-4">Submit</button>

                                                <a asp-area="" asp-controller="Estimates" asp-route-id=" @Model.EstimateID" asp-action="EstimationDetails" class="btn btn-label-secondary">Cancel</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Property Measurements -->
                        <div class="tab-pane fade" id="form-Property-Measurement" role="tabpanel">
                            @if (Model.MeasurementCat == null || !Model.MeasurementCat.Any())
                            {
                                <div class="row mb-12 g-6 text-center" style="display: flex;">
                                    <p>No record found.</p>
                                </div>
                            }
                            else
                            {

                                <form>
                                    <div class="row g-6">

                                        <div class="accordion mt-4" id="accordionExample">

                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5><b>Reports Available (0)</b></h5>

                                                <label for="fileUpload" class="btn btn-primary">Upload file</label>
                                                <input type="file" id="fileUpload" style="display: none;" />

                                            </div>


                                            <div class="accordion" id="accordionExample">
                                                @if (Model.MeasurementCat == null || !Model.MeasurementCat.Any())
                                                {
                                                    <div class="row mb-12 g-6 text-center" style="display: flex;">
                                                        <p>No record found.</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @foreach (var item in Model.MeasurementCat)
                                                    {
                                                        var accordionItemId = "accordionItem_" + item.MCatID;
                                                        var accordionCollapseId = "collapse_" + item.OrderNo;
                                                        <div class="card accordion-item">
                                                            <h2 class="accordion-header" id="@accordionItemId">
                                                                <button type="button"
                                                                        class="accordion-button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#@accordionCollapseId"
                                                                        aria-expanded="false"
                                                                        aria-controls="@accordionCollapseId">
                                                                    @item.CategoryName
                                                                </button>
                                                            </h2>
                                                            <div id="@accordionCollapseId"
                                                                 class="accordion-collapse collapse"
                                                                 data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <div class="card-body">
                                                                      
                                                                            <div class="row">
                                                                                @if (Model.MeasurementToken == null || !Model.MeasurementToken.Any())
                                                                                {
                                                                                    <div class="row mb-12 g-6 text-center" style="display: flex;">
                                                                                        <p>No record found.</p>
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                <form id="measurementForm" asp-controller="Estimates" asp-action="PropertyMeasurement" method="post">
                                                                                    @foreach (var (token, index) in Model.MeasurementToken.Where(t => t.MCatID == item.MCatID).Select((value, i) => (value, i)))
                                                                                    {
                                                                                        var tokenNameId = "basic-default-" + token.TokenName.Replace(" ", "") + "_" + token.MTokenID;
                                                                                        var unitName = Model.MeasurementUnit
                                                                                        .FirstOrDefault(u => u.UMID == token.UMID)?.UnitName ?? "Unknown Unit";

                                                                                        string formattedUnitName;
                                                                                        var words = unitName.Split(' ');
                                                                                        if (words.Length == 2)
                                                                                        {
                                                                                            formattedUnitName = words[0].Substring(0, 1) + words[1].Substring(0, 1);
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            formattedUnitName = unitName.Length > 1 ? unitName.Substring(0, 2) : unitName;
                                                                                        }

                                                                                        <div class="col-md-6">
                                                                                            <label class="col-form-label" for="@tokenNameId">@token.TokenName</label>
                                                                                            <div class="col-sm-10">
                                                                                                <div class="input-group input-group-merge">
                                                                                                    <input type="text" asp-for="@token.TokenValue"
                                                                                                           name="MeasurementToken[@index].TokenValue"
                                                                                                           class="form-control"
                                                                                                           id="@tokenNameId"
                                                                                                           data-mtokenid="@token.MTokenID"
                                                                                                           data-tokenname="@token.TokenName"
                                                                                                           placeholder="@token.TokenName" />
                                                                                                          <input asp-for="EstimateID" hidden>
                                                                                                    <span class="input-group-text" id="@tokenNameId">@formattedUnitName</span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                </form>


                                                                                }
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="row mt-6">
                                            <div class="col-md-6">
                                                <div class="row justify-content-start">
                                                    <div class="col-sm-6">
                                                        <a asp-area="" asp-controller="Estimates" asp-route-id=" @Model.EstimateID" asp-action="EstimationDetails" class="btn btn-label-secondary">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.querySelectorAll('input[name^="MeasurementToken"]').forEach(function (input) {
        input.addEventListener('change', function () {
            var mTokenID = input.getAttribute('data-mtokenid');
            var tokenName = input.getAttribute('data-tokenname');
            var tokenValue = input.value;  
            var estimateID = document.querySelector('input[name="EstimateID"]').value;
            $.ajax({
                url: '@Url.Action("PropertyMeasurement", "Estimates")', 
                type: 'POST',
                data: {
                    MTokenID: mTokenID,  
                    EstimateID: estimateID, 
                    TokenValue: tokenValue 
                },
                success: function (response) {
                    console.log("Data submitted successfully!", response);
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred while submitting the form.", error);
                }
            });
        });
    });
</script>



@* <script>

    document.getElementById('submitButton').addEventListener('click', function () {
        var formData = {};
        var measurementTokens = [];
        int estimate
        var inputs = document.querySelectorAll('input[name^="MeasurementToken"]'); 
        inputs.forEach(function (input) {
            var tokenValue = input.value;
            var mTokenID = input.getAttribute('data-mtokenid');
            var tokenName = input.getAttribute('data-tokenname');
            measurementTokens.push({
                MTokenID: mTokenID,
                TokenName: tokenName,
                TokenValue: tokenValue
            });
        });
        formData.MeasurementToken = measurementTokens;
        $.ajax({
            url: '@Url.Action("PropertyMeasurement", "Estimates")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData), 
            success: function (response) {
                // Handle the response (e.g., show a success message or redirect)
                alert("Data submitted successfully!");
            },
            error: function (xhr, status, error) {
                // Handle error
                alert("An error occurred while submitting the form.");
            }
        });
    });


</script> *@

<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(".formtabs-date", {
            dateFormat: "d-m-Y",
            allowInput: true
        });
    });
</script>