@model MrGutter.Models.ViewModels.EstimateVM
@{
    Layout = "_Layout_Main";
    ViewBag.Title = "Estimate";
}


<style>
    .hidden {
        display: none;
    }

    .bg-blue {
        background-color: #007bff; /* Choose a shade of blue */
    }



    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper .dataTables_filter {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .top-right-dropdown {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
    }
    /* .layout-page{
                    max-width: 1300px !important;
                    margin: 0 auto !important;
                } */
    .card-img-height {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .form-select-1 {
        border-radius: 4px;
        background: #64c5b1;
        padding: 5px;
        border: 0;
        outline: none;
    }

    .select-radio {
        border-radius: 4px;
        background: #2E7DB3;
        padding: 5px;
        border: 0;
        color: white;
        text-align: center;
        outline: none;
        margin-bottom: 5px;
    }

    .select-radio1 {
        border-radius: 4px;
        background: transparent;
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
        outline: none;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .dtl-btn {
        padding: 10px 10px 16px 18px;
        border-radius: 0px 0px 0px 50px;
        background: #2E7DB3;
    }
    /* .dlt-btn{
                    display:none;
                    transition: all 0.5s ease-out;
                }

                .card:hover .dlt-btn{
                        display:block;
                        transition: all 0.5s ease-out;
                 } */
    .dlt-btn {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    }

    .card:hover .dlt-btn {
        opacity: 1;
        visibility: visible;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

</style>




<div class="container-xxl flex-grow-1">

    <div class="col-md-12 container-p-y">
        <div class="card">

            <div class="card-header d-flex justify-content-between align-items-center row px-1 gap-3 gap-md-0">

                <div class="col-md-2">
                    <div class="input-group ms-2 me-1">

                        <input type="search" id="searchInput" class="form-control" placeholder="Search" name="Search" />
                    </div>
                </div>

                <div class="col-md-2 user_role">

                    <select id="userRole" class="form-select text-capitalize ms-2">
                        @foreach (var user in Model.EstimatorUsers)
                        {
                            <option value="@user.UserID">@user.FirstName @user.LastName</option>
                        }
                    </select>

                </div>

                <div class="col-md-2 user_plan">
                    <select id="userPlan" class="form-select text-capitalize ms-2">
                        <option>Estimate Status</option>
                        @foreach (var item in Model.StatusList)
                        {
                            <option value="@item.StatusID">@item.StatusName</option>
                        }
                    </select>
                </div>

                <div class="col-md-2 user_status">
                    <select id="userStatus" class="form-select text-capitalize ms-2">
                        <option value="Created anytime">Created anytime</option>
                        <option value="24">Last 24 hours</option>
                        <option value="7">Last 7 days</option>
                        <option value="30">Last 30 days</option>
                        <option value="Older">Older (than 30 days)</option>
                    </select>
                </div>

                <div class="col-md-1">
                    <a href="#" id="clearAllBtn" class="text-decoration-underline ms-3">Clear all</a>
                </div>

                <!-- Script for reset all the input fields of filter -->
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        document.getElementById("clearAllBtn").addEventListener("click", function (e) {
                            e.preventDefault();

                            // Reset input field
                            const searchInput = document.getElementById("searchInput");
                            if (searchInput) searchInput.value = "";

                            // Reset select fields
                            const userRole = document.getElementById("userRole");
                            const userPlan = document.getElementById("userPlan");
                            const userStatus = document.getElementById("userStatus");

                            if (userRole) userRole.selectedIndex = 0;
                            if (userPlan) userPlan.selectedIndex = 0;
                            if (userStatus) userStatus.selectedIndex = 0;
                        });
                    });
                </script>
                <!-- Script end -->

                <div class="col-md-3 d-flex justify-content-end align-items-center">
                    <a href="#" data-bs-toggle="modal"
                       data-bs-target="#modalSignature" class="btn btn-primary tf-icons  scaleX-n1-rtl mx-3" title="Create Estimate">
                        <span class="ti ti-plus me-2"></span>
                        Estimate
                    </a>
                    <div class="border-start mx-2 pl-2" style="height: 30px;"></div>
                    <div class="px-3">
                        <a id="gridIcon" href="#" onclick="switchToGrid()" class="menu-item ti ti-layout-grid-filled ms-3" title="Tile view"></a>
                        <a id="listIcon" href="#" onclick="switchToList()" class="menu-item ti ti-list me-1" title="List view"></a>
                    </div>
                </div>


                <!--Modal for Create Estimate button-->
                <div class="modal fade" id="modalSignature" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog  modal-xl" role="document">

                        <div class="">
                            <div class="">

                                <div class="modal-content m-4">

                                    <div class="modal-header">
                                        <div>
                                            <h3 class="mb-0">Create new estimate</h3>
                                            <p>Input customer details below to begin creating new reports</p>
                                        </div>

                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">

                                        <div class="card">
                                            <div class="card-body">
                                                <form asp-controller="Estimates" asp-action="CreateEstimate" method="post">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-project">Estimate No.</label>
                                                            <input type="text" class="form-control" asp-for="EstimateNo" id="basic-default-project" placeholder="Leave blank to generate" pattern="\d{10}" title="Please enter exactly 10 digits." maxlength="10" />

                                                        </div>
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-first">First name</label>
                                                            <input type="text" class="form-control" name="firstName" value="" placeholder="" />
                                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-last">Last name</label>
                                                            <input type="text" class="form-control" name="lastName" value="" placeholder="" />
                                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-company">Company</label>
                                                            <input type="text" class="form-control" name="company" value="" placeholder="ACME Inc." />
                                                            <span asp-validation-for="Company" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-email">Email</label>

                                                            <input type="text"
                                                                   name="email" value=""
                                                                   class="form-control" />
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-phone">Phone No</label>
                                                            <input type="text"
                                                                   name="phoneNo"
                                                                   class="form-control phone-mask" />
                                                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-line1">Address line 1</label>
                                                            <input type="text" class="form-control" name="addressline1" value="" placeholder="" />
                                                            <span asp-validation-for="Addressline1" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-6 mb-6">
                                                            <label class="form-label" for="basic-default-line2">Address line 2</label>
                                                            <input type="text" class="form-control" name="addressline2" value="" placeholder="" />

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 mb-6">
                                                            <label class="form-label" for="basic-default-city">City</label>
                                                            <input type="text" class="form-control" name="city" value="" placeholder="" />
                                                            <span asp-validation-for="City" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-4 mb-6">
                                                            <label class="form-label" for="basic-default-state">State</label>
                                                            <input type="text" class="form-control" name="state" value="" placeholder="" />
                                                            <span asp-validation-for="State" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-4 mb-6">
                                                            <label class="form-label" for="basic-default-zip">Zip code/Postal code</label>
                                                            <input type="text" class="form-control" name="zipCode" value="" placeholder="" />
                                                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Create Estimate</button>
                                                        <button type="submit" asp-controller="Estimates" asp-action="EstimateList" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                                            Cancel
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>

                                        </div>



                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>




            </div>


        </div>
    </div>

    <div class="row mb-12 g-6" id="grid" style="display: flex;">
        @foreach (var item in Model.EstimateList)
        {
            string estimateCreatedDate = item.EstimateCreatedDate;
            string formattedDate = "Invalid date format";

            if (!string.IsNullOrEmpty(estimateCreatedDate))
            {
                DateTime createdDate;
                if (DateTime.TryParse(estimateCreatedDate, out createdDate))
                {
                    TimeSpan timeDifference = DateTime.Now - createdDate;

                    if (timeDifference.Days > 365)
                    {
                        formattedDate = $"Created {timeDifference.Days / 365} years ago.";
                    }
                    else if (timeDifference.Days > 30)
                    {
                        formattedDate = $"Created {timeDifference.Days / 30} months ago.";
                    }
                    else if (timeDifference.Days > 0)
                    {
                        formattedDate = $"Created {timeDifference.Days} days ago.";
                    }
                    else if (timeDifference.Hours > 0)
                    {
                        formattedDate = $"Created {timeDifference.Hours} hours ago.";
                    }
                    else if (timeDifference.Minutes > 0)
                    {
                        formattedDate = $"Created {timeDifference.Minutes} minutes ago.";
                    }
                    else
                    {
                        formattedDate = $"Created {timeDifference.Seconds} seconds ago.";
                    }
                }
            }
            <div class="col-md-4">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-12 position-relative">
                        <a asp-action="EstimationDetails" asp-controller="Estimates" asp-route-id="@item.EstimateID">
                            <img class="card-img card-img-left card-img-height" src="~/img/elements/pexels-pixabay-164558.jpg" alt="Card image" />
                            <div hidden>@item.EstimateID</div>
                        </a>


                        <div class="position-absolute end-0 top-0 dlt-btn">
                            <button data-bs-toggle="modal" data-bs-target="#delete" class="border-0 dtl-btn" id="confirm-text" onclick="setEstimateID(@item.EstimateID)">
                                <i class="ti ti-trash ti-md me-2 text-white me-lg-0 ti-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body row g-0">
                            <div class="col-md-12 mb-2">
                                <h5 class="card-title mb-0"><b>@item.FirstName @item.LastName</b></h5>
                                <p class="mb-1">Estimate No. : @item.EstimateNo</p>
                                <p class="card-text text-black">@item.Addressline1 @item.Addressline2, @item.City, @item.State, @item.ZipCode</p>
                            </div>
                            <div class="col-md-12 rounded text-white status-dropdown">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="col-md-6 rounded text-white status-dropdown">
                                        <select class="form-select text-capitalize statusSelect">
                                            @foreach (var i in Model.StatusList)
                                            {
                                                @if (item.StatusID.ToString() == i.StatusID.ToString())
                                                {
                                                    <option value="@i.StatusID" selected>@i.StatusName</option>
                                                }
                                                else
                                                {
                                                    <option value="@i.StatusID">@i.StatusName</option>
                                                }
                                            }
                                        </select>
                                        <div id="estimateId_@item.EstimateID" hidden>@item.EstimateID</div>
                                    </div>


                                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                                        <p style="color:#b1acac !important" class="mb-0">@formattedDate</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>


    <div id="list" style="display: none;">
        <!-- Estimate List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <table class="datatables-estimate table">
                    <thead class="border-top bg-menu-theme text-white">
                        <tr>
                            <th class="text-white">No.</th>
                            <th class="text-white">Name</th>
                            <th class="text-white"> Address</th>
                            <th class="text-white"> Estimator</th>
                            <th class="text-white"> Created</th>
                               <th class="text-white">Status</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>



    </div>



</div>




<!--Script for grid and list view-->
<script>
    function switchToGrid() {
        // Hide the list view and show the grid view
        document.getElementById("list").style.display = "none";
        document.getElementById("grid").style.display = "flex";
    }

    function switchToList() {
        // Hide the grid view and show the list view
        document.getElementById("grid").style.display = "none";
        document.getElementById("list").style.display = "block";
    }

</script>

<div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Do you want to delete estimate</span>?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" id="confirmDeleteBtn">Yes</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.statusSelect').change(function () {
            // Find the parent div and get the unique estimateId
            var statusId = $(this).val(); // Get selected status ID
            var estimateId = $(this).closest('.status-dropdown').find('[id^="estimateId_"]').text(); // Get the corresponding EstimateID for the current select box

            $.ajax({
                url: "/Estimates/ChangeEstimateStatus",
                type: "POST",
                data: {
                    statusId: statusId,
                    estimateId: estimateId
                },
                success: function (response) {

                },
                error: function (xhr, status, error) {

                }
            });
        });
    });

</script>
<script>
    function setEstimateID(estimateID) {
        $('#confirmDeleteBtn').off('click').on('click', function () {
            debugger
            $.ajax({
                url: "/Estimates/DeleteEstimate",
                type: "POST",
                data: {
                    estimateId: estimateID
                },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.error("Error during deletion:", error);
                }
            });
        });
        $('#estimateID').text(estimateID);
    }



</script>
<!--Script for drop down colour-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var showErrorModal = '@(ViewBag.EstimateError ?? "False")' === 'True';
        if (showErrorModal) {
            var modal = new bootstrap.Modal(document.getElementById('modalSignature'));
            modal.show();
        }
    });
</script>

<script>
    function updateBackgroundColor(selectElement) {
        var selectedValue = selectElement.value;
        var parentDiv = selectElement.closest('.status-dropdown');
        parentDiv.style.backgroundColor = "";
        parentDiv.style.color = "";
        const statusColors = {
            "5": { backgroundColor: "#008080", color: "#ffffff" },
            "1": { backgroundColor: "#007bff", color: "#ffffff" },
            "2": { backgroundColor: "#90ee90", color: "#ffffff" },
            "6": { backgroundColor: "#ff0000", color: "#ffffff" },
            "4": { backgroundColor: "#ffa500", color: "#ffffff" },
            "3": { backgroundColor: "#008000", color: "#ffffff" }
        };
        if (statusColors[selectedValue]) {
            parentDiv.style.backgroundColor = statusColors[selectedValue].backgroundColor;
            parentDiv.style.color = statusColors[selectedValue].color;
        }
    }
    window.addEventListener('load', function () {
        var selectElements = document.querySelectorAll('.status-dropdown select');
        selectElements.forEach(function (selectElement) {
            updateBackgroundColor(selectElement);
        });
    });
    document.querySelectorAll('.status-dropdown select').forEach(function (selectElement) {
        selectElement.addEventListener("change", function () {
            updateBackgroundColor(selectElement);
        });
    });



</script>
